html {
  height: 100%;
}
body {
  padding: 0;
  text-align: center;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
#bg {
  width: 40%;
  max-width: 400px;
  margin-top: 3%;
  z-index: 1;
}


@media (max-width: 767px){
  #bg{
   margin-top: 10%;
  }
}


.motto{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2em;
}

@media (max-width: 767px){
  .motto{
   font-size:1.5em;
  }
}


.motto span{
  font-variant: italic;
  font-weight: 400;
}


.center{
  text-align: center;
}

#one{
  background-color: white;
  /*height:100vh;*/
  min-height: 780px;
}

#one h1{
  font-family:'Cassannet',Sans-Serif;
  font-size: 5em; 
}

@media (max-width: 767px){
  #one h1{
   font-size:3em;
  }
}

#team{
  text-align: left;
  background-color: #c6c6c6;
  /*min-height: 100vh;*/
  min-height: 780px;
}

#team .header img{
  border-radius: 50px;
  max-width: 100px;
}

#rescue{
  text-align: left;
  min-height: 780px;
  background-color: #090909;
  color: whitesmoke;
}

#contact{
  text-align: left;
  min-height: 780px;
  background-color: white;
  color: #090909;
}

#rescue .l-box{
  margin: 0 1em 0 1em;
  padding: 1em;
}

.joy{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
  margin: 1em;
}

.statement{
  font-family: courier, fixed;
  font-size: 2em;
  border-radius: 5px;
  margin: 0 1em 0 1em;

  background-color: #CC0000;
  color:white;
  -moz-box-shadow: 0 0 10px 0px #000;
  -webkit-box-shadow: 0 0 10px 0px #000;
  box-shadow: 0 0 10px 0px #000;
}

.further{
  font-size: 0.5em;
}

.mail{
  font-family: courier, fixed;
  font-size: 0.8em;
}

.badge{
  color: #cc0000;
}
.caret {
  background: whitesmoke;
}


#twitter-widget-0, .twitter-timeline{
  /*display: none;*/
}

#tweets{
  text-align: left;
  /*background-color: #c6c6c6;*/
  /*min-height: 100vh;*/
min-height: 780px;
background-color: #090909;
}

.margin-20{
  margin-top: 20px;
  margin-bottom: 20px;
}

.loading {
  font-size: 3em;
  font-weight: 300;
  font-family: Lato;
  display: inline-block;
  margin-bottom: 100px;
  color: #D4D4D4;
}


@media (max-width: 767px){
  .loading{
    font-size: 2em;
  }
}

.title h2{
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 2.5em;
  color:#CC0000;
}


@media (max-width: 767px){
  .title h2{
   font-size:2em;
  }
}

.title{
  padding: 1em;
  margin: 0 1em 1em 1em;
}

@media (max-width: 767px){
  .title{
    padding: 0.5em;
    margin: 0 0.5em 0.5em 0.5em;
  }
}

#tweets .l-box{
  padding: 1em;
  margin: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: whitesmoke;
  font-size: 1.2em;
  border-radius: 5px;
  /*border-left:5px solid #cc0000;*/
  /*background-color: #C6C6C6;*/

  }

  #tweets .l-box .icon-quote-left, #tweets .l-box .icon-quote-right{
    color: #cc0000
  } 

@media (max-width: 767px){
  #tweets .l-box{
    margin: 0 1em 0 1em;
  }
}


#tweets .l-box:hover{
  background-color: #CC0000;
  color:white;
  font-weight: bold;
}

#tweets .l-box:hover .icon-quote-left, #tweets .l-box:hover .icon-quote-right
{
  color:white;
}

#tweets .l-box:hover .when, #tweets .l-box:hover .link{
  visibility: visible;
}

#tweets .l-box .when, #tweets .l-box .link{
  visibility: hidden;
}

#tweets .pure-button{
  color:#CC0000;
}
#tweets .pure-button:hover{
  -moz-box-shadow: 0 0 10px 0px #000;
  -webkit-box-shadow: 0 0 10px 0px #000;
  box-shadow: 0 0 10px 0px #000;
}

#tweets .when{
  font-size: small;
}

#tweets .link{
  text-align: right;
}

#tweets .link a{
  color: #fff;
  font-size: small;
  text-decoration: none;
}

#tweets .link a:hover{
  text-decoration: underline;
}

@media (max-width: 767px){
  #tweets .link a{
    font-size: small;
    text-decoration: underline;
  }
}


.spinner {
  height:20px;
  width:20px;
  display: inline-block;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(204,0,0,.15);
  border-right:6px solid rgba(204,0,0,.15);
  border-bottom:6px solid rgba(204,0,0,.15);
  border-top:6px solid rgba(204,0,0,.8);
  border-radius:100%;
}


@media (max-width: 767px){
  .spinner{
    height:10px;
    width:10px;
  }
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}


.member{
  /*background-color: #444;*/
  font-family: 'Lato';
  font-size: 1.2em;
  color: #222;
  margin:20px;
  padding:50px;
  height: 300px;
  border-radius: 5px;
  text-align: center;
}

.member .header{
  font-family: 'Cassannet';
  font-size: 1.5em;
}

.member{
  background-color: #CC0000;
  color:white;
    -moz-box-shadow: 0 0 10px 0px #000;
  -webkit-box-shadow: 0 0 10px 0px #000;
  box-shadow: 0 0 10px 0px #000;
}

.icon-quote-left {
  margin-right: 5px;
}

.icon-quote-right {
  margin-left: 5px;
}

.invisible{
  display: none;
}

.visible{
  display: inline;
}

/*#contant .joy {
  display: none;
}

.invisible{
  display: none;
}

#contant .joy .visible {
  display: inline;
}*/

.animated {
-webkit-animation-duration: 0.3s;
-moz-animation-duration: 0.3s;
-o-animation-duration: 0.3s;
animation-duration: 0.3s;
-webkit-animation-fill-mode: both;
-moz-animation-fill-mode: both;
-o-animation-fill-mode: both;
animation-fill-mode: both;
}